@import "../../styles/Mixin.scss";
@import "../../styles/Variables.scss";

.main {
    @include flexbox(row, center,start);
    column-gap: 40px;
    margin-top: 100px;

    .contactsContainer{
        @include boxShadow();
        width: 45vw;
        height: fit-content;
        border-radius: 8px;
        padding: 20px;
        background-color: $bakcground-white;

        &>h2{
            color: $accent-purple
        }

        .contacts{
            @include flexbox(column, start,start);
            padding-top: 20px;
            row-gap: 40px;

        }
    }
}


@media (max-width:1248px) {
    .main {
        @include flexbox(column, start,center);
        margin: 20px 20px;
        margin-top: 20px ;
        column-gap: 0;

        .contactsContainer{
            max-width: 600px;
            width: 100%;
            margin-top: 35px;
            padding: 10px;

            .contacts{
                row-gap: 20px;
            }
        }
    }
}